{% extends 'users/navbar_Escritor.html' %}
{% load static %}
{% block content %}

<div class="formulario-registro">
      <div class="container">
            <div class="contenido-formulario">
              <h2 style="color: white"> Registrar Libro</h2>
              <form id="formulari" method="post" enctype="multipart/form-data" action="">
                    {% csrf_token %}
                        {{ form.as_ul }}
                    <input class="btn btn-stroked-dark" type="submit" value="Enviar"/>
              </form>
            </div>
      </div>
</div>
{% endblock %}