{% extends 'navbars/navbar_base.html' %}
{% block navbar %}
    {% if role == 'Writer' %}
        {% include "navbars/navbar_Escritor.html" %}
    {% elif role == 'Editor in chief' %}
        {% include "navbars/navbar_Editor.html" %}
    {% elif role == 'Editor' %}
        {% include "navbars/navbar_Editor.html" %}
    {% endif %}
{% endblock %}

{% block navbarXS %}
    {% if role == 'Writer' %}
        {% include "navbars/navbar_Escritor.html" %}
    {% elif role == 'Editor in chief' %}
        {% include "navbars/navbar_Editor.html" %}
    {% elif role == 'Editor' %}
        {% include "navbars/navbar_Editor.html" %}
    {% endif %}
{% endblock %}

{% block content %}
    <h1> Bienvenido {{ role }}</h1>
    <h3> Notificaciones {{ role }}</h3>
    {% for element in book %}
    <ul style="color: white">
            <li style="color: white">Titulo: {{ element.title }} </li>
            <li style="color: white">Cuerpo: {{ element.body }} </li>
            <li style="color: white">Estado: {{ element.state }} </li>
    </ul>
    {% endfor %}
    <input style="display: none" type="submit" id="valmenu" value="notificaciones"/>
{% endblock %}
