{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/css_InicioBookiernes.css' %}"/>
<link rel="stylesheet" href="{% static 'css/formStyle.css' %}"/>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {

        var value = $("#valmenu").val();
        // Checking for blank fields.
        if (value == 'updateBook') {
            $('.updateBook').addClass('active');
        } else {
            $('.myBooks').addClass('active');
        }
    });
</script>

<svg xmlns="http://www.w3.org/2000/svg" style="display:none">

    <symbol id="user-icon" viewBox="0 0 1024 1024">
        <path></path>
    </symbol>

</svg>

<div class="wrap">
    <div class="outer-content-wrapper">
        <div class="container container-submenu visible-xs menu1xs">
            <div class="row">
                <div class="col-xs-12">

                    <div class="submenu-backdrop"></div>
                    <div class="btn-group-inverse">
                        <button type="button" class="btn btn-submenu dropdown-toggle" data-toggle="dropdown">
                            <use></use>
                            <span class="icon-chevron-down"><i class="fa fa-book" aria-hidden="true"></i></span> Mis
                            Libros Subidos
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li id="submenu-item-myBooks" class="active">
                                <a href=""><i class="fa fa-book" aria-hidden="true"></i> Mis Libros Subidos </a>
                            </li>

                            <li id="submenu-item-updateBook">
                                <a href=""><i class="fa fa-upload" aria-hidden="true"></i> Subir Libros </a>
                            </li>

                            <li id="salir">
                                <a href=""><i class="fa fa-undo" aria-hidden="true"></i> Salir </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="col-md-2 col-sm-3 hidden-xs negro-bg" style="position:  fixed; height:  100%;">
                <div class="sidebar">

                    <div class="user-icon-container img-circle ">
                        <svg class="user-icon">
                            <use xlink:href="#user-icon">
                            </use>
                        </svg>
                    </div>

                    <ul class="nav-inverse nav-tabs nav-stacked">
                        <li id="myBooks" class="myBooks">
                            <a href="{% url 'list_book' %}"><i class="fa fa-book" aria-hidden="true"></i> Mis Libros
                                Subidos </a>
                        </li>

                        <li id="updateBook" class="updateBook">
                            <a href="{% url 'book_create' %}"><i class="fa fa-upload" aria-hidden="true"></i> Subir
                                Libros </a>
                        </li>

                        <li id="salir">
                            <a href=""><i class="fa fa-undo" aria-hidden="true"></i> Salir </a>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3">
                <div class="container-fluid">
                    <div class="page-header">
                        <h1>Bienvenido Escritor</h1>
                    </div>

                    <div class="container-fluid">
                        <div class="album-results">
                            <div class="row" id="poner">
                                {% block content %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
