@charset "utf-8";
/* CSS Document */
/* CSS del formulario de registro*/

/* CSS header */

body, .header-formulario-registro-logo {
	 color:#fff;
	 background-color:#1B273B; 
}

.header-formulario-registro-logo{
	display: block;  
	border-bottom: 1px solid #dfe0e6; 
}

.header-formulario-registro-logo .container .astec-logo img.logo-registro{	
	width: 30%;
    height: 30%;
    margin: 0 auto;
}
.header-formulario-registro-logo .container{
	text-align: center; 
}

/* CSS body*/

.formulario-registro{
	display: block;
}

.formulario-registro .container{
	text-align: center;
}

.formulario-registro .container .contenido-formulario{
	margin: 0 auto;
	max-width: 26.875em;
}

.formulario-registro .container .contenido-formulario h2{
	font-size: 17px;
	margin-bottom: 1em;
	margin-top: 2em;
	color: #1c1c1f;
	font-weight: 900;
    line-height: 1.2;
}

.formulario-registro .container .contenido-formulario form ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.formulario-registro .container .contenido-formulario form ul li{
	text-align: left;
	margin-bottom: .625em;
}
.formulario-registro .container .contenido-formulario form ul li input{
 	padding: 1em .75em .6875em;
    width: 100%;
    border: 1px solid #dfe0e6;
    font-size: .9375em;
}
.formulario-registro .container .contenido-formulario form ul li label.checkbox{
	color: #88898c;
    display: block;
    font-size: .75em; 
    margin-bottom: 1.5rem;
}

.formulario-registro .container .contenido-formulario form ul li label input{
	float: left; 
    margin-top: 3px;
    background: 0 0;
    border: none; 
    padding: 0;
    width: 4%;
    margin-right: 10px;
}

.btn-stroked-dark {
    color: #fff;
    box-shadow: 0 0 0 2px #fff inset;
    background-color: transparent;
    margin-bottom: 70px;
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 18px 48px 16px;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: bold;
}

.btn-stroked-dark:hover, .btn-stroked-dark:focus{
color: white;
background-color: #337ab7;
box-shadow: 0 0 0 2px #fff inset;
}
.error{
    color: red;
    padding-top: 16px;
}
#volver{
    margin-top: -60px;
}
#formulari input {
    color: black;
}